@model int

<a asp-controller="Carrito" asp-action="Index" class="nav-link cart-link">
    <i class="bi bi-cart"></i> Carrito
    @if (Model > 0)
    {
        <span class="badge bg-danger">@Model</span>
@*         <span class="badge bg-danger" id="cart-count">0</span>
 *@
    }
</a>
