USE [ProyectoTiendaInstrumentos]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [CK_Valoraciones_Puntuacion]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [CK__Valoracio__Puntu__30C33EC3]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [CK__Valoracio__Puntu__2FCF1A8A]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [CK_Usuarios_Email]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_Productos_Stock]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_Productos_Puntuacion]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [CK_Pedidos_PrecioTotal]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [CK_Pedidos_Estado]
GO
ALTER TABLE [dbo].[Marcas] DROP CONSTRAINT [CK_Marcas_Puntuacion]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [CK_DetallePedidos_PrecioUnitario]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [CK_DetallePedidos_Cantidad]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [CK__DetallePe__Canti__2645B050]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [CK__DetallePe__Canti__25518C17]
GO
ALTER TABLE [dbo].[ValoresEspecificaciones] DROP CONSTRAINT [FK__ValoresEs__IdPro__245D67DE]
GO
ALTER TABLE [dbo].[ValoresEspecificaciones] DROP CONSTRAINT [FK__ValoresEs__IdPro__236943A5]
GO
ALTER TABLE [dbo].[ValoresEspecificaciones] DROP CONSTRAINT [FK__ValoresEs__IdEsp__22751F6C]
GO
ALTER TABLE [dbo].[ValoresEspecificaciones] DROP CONSTRAINT [FK__ValoresEs__IdEsp__2180FB33]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [FK__Valoracio__IdUsu__208CD6FA]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [FK__Valoracio__IdUsu__1F98B2C1]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [FK__Valoracio__IdPro__1EA48E88]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [FK__Valoracio__IdPro__1DB06A4F]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [FK__Usuarios__RolId__1CBC4616]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [FK__Usuarios__RolId__1BC821DD]
GO
ALTER TABLE [dbo].[Tipos] DROP CONSTRAINT [FK__Tipos__IdFamilia__1AD3FDA4]
GO
ALTER TABLE [dbo].[Tipos] DROP CONSTRAINT [FK__Tipos__IdFamilia__19DFD96B]
GO
ALTER TABLE [dbo].[Subtipos] DROP CONSTRAINT [FK__Subtipos__IdTipo__18EBB532]
GO
ALTER TABLE [dbo].[Subtipos] DROP CONSTRAINT [FK__Subtipos__IdTipo__17F790F9]
GO
ALTER TABLE [dbo].[SeguridadUsuarios] DROP CONSTRAINT [FK__Seguridad__IdUsu__17036CC0]
GO
ALTER TABLE [dbo].[SeguridadUsuarios] DROP CONSTRAINT [FK__Seguridad__IdUsu__160F4887]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK__Productos__IdSub__151B244E]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK__Productos__IdSub__14270015]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK__Productos__IdMar__1332DBDC]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK__Productos__IdMar__123EB7A3]
GO
ALTER TABLE [dbo].[ProductoImagenes] DROP CONSTRAINT [FK__ProductoI__IdPro__114A936A]
GO
ALTER TABLE [dbo].[ProductoImagenes] DROP CONSTRAINT [FK__ProductoI__IdPro__10566F31]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [FK__Pedidos__IdUsuar__0F624AF8]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [FK__Pedidos__IdUsuar__0E6E26BF]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [FK__DetallePe__IdPro__0D7A0286]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [FK__DetallePe__IdPro__0C85DE4D]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [FK__DetallePe__IdPed__0B91BA14]
GO
ALTER TABLE [dbo].[DetallePedidos] DROP CONSTRAINT [FK__DetallePe__IdPed__0A9D95DB]
GO
ALTER TABLE [dbo].[CategoriaFiltros] DROP CONSTRAINT [FK__Categoria__IdSub__09A971A2]
GO
ALTER TABLE [dbo].[CategoriaFiltros] DROP CONSTRAINT [FK__Categoria__IdSub__08B54D69]
GO
ALTER TABLE [dbo].[CategoriaFiltros] DROP CONSTRAINT [FK__Categoria__IdEsp__07C12930]
GO
ALTER TABLE [dbo].[CategoriaFiltros] DROP CONSTRAINT [FK__Categoria__IdEsp__06CD04F7]
GO
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [DF__Valoracio__Fecha__05D8E0BE]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [DF__Usuarios__FechaR__04E4BC85]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF__Productos__Venta__03F0984C]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF__Productos__Fecha__02FC7413]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF__Productos__Stock__02084FDA]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [DF__Pedidos__Estado__01142BA1]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [DF__Pedidos__Fecha__00200768]
GO
/****** Object:  Index [UQ_Usuario_Resena]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Valoraciones] DROP CONSTRAINT [UQ_Usuario_Resena]
GO
/****** Object:  Index [UQ__Usuarios__A9D1053471DACED9]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [UQ__Usuarios__A9D1053471DACED9]
GO
/****** Object:  Index [UQ__Usuarios__A9D10534249EA49E]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [UQ__Usuarios__A9D10534249EA49E]
GO
/****** Object:  Index [UQ__Familias__75E3EFCFBC0E15F8]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Familias] DROP CONSTRAINT [UQ__Familias__75E3EFCFBC0E15F8]
GO
/****** Object:  Index [UQ__Familias__75E3EFCF4FE95BCF]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Familias] DROP CONSTRAINT [UQ__Familias__75E3EFCF4FE95BCF]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[ProductoImagenes]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductoImagenes]') AND type in (N'U'))
DROP TABLE [dbo].[ProductoImagenes]
GO
/****** Object:  Table [dbo].[CategoriaFiltros]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CategoriaFiltros]') AND type in (N'U'))
DROP TABLE [dbo].[CategoriaFiltros]
GO
/****** Object:  View [dbo].[vw_EspecificacionesProducto]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_EspecificacionesProducto]
GO
/****** Object:  View [dbo].[vw_FichaTecnicaProductos]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_FichaTecnicaProductos]
GO
/****** Object:  Table [dbo].[ValoresEspecificaciones]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValoresEspecificaciones]') AND type in (N'U'))
DROP TABLE [dbo].[ValoresEspecificaciones]
GO
/****** Object:  Table [dbo].[Especificaciones]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Especificaciones]') AND type in (N'U'))
DROP TABLE [dbo].[Especificaciones]
GO
/****** Object:  View [dbo].[vw_HistorialPedidos]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_HistorialPedidos]
GO
/****** Object:  View [dbo].[vw_CatalogoProductos]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_CatalogoProductos]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tipos]') AND type in (N'U'))
DROP TABLE [dbo].[Tipos]
GO
/****** Object:  Table [dbo].[Subtipos]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subtipos]') AND type in (N'U'))
DROP TABLE [dbo].[Subtipos]
GO
/****** Object:  Table [dbo].[Familias]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Familias]') AND type in (N'U'))
DROP TABLE [dbo].[Familias]
GO
/****** Object:  View [dbo].[vw_ValoracionesProducto]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_ValoracionesProducto]
GO
/****** Object:  Table [dbo].[Valoraciones]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Valoraciones]') AND type in (N'U'))
DROP TABLE [dbo].[Valoraciones]
GO
/****** Object:  View [dbo].[vw_ProductosPedidos]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_ProductosPedidos]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pedidos]') AND type in (N'U'))
DROP TABLE [dbo].[Pedidos]
GO
/****** Object:  Table [dbo].[DetallePedidos]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DetallePedidos]') AND type in (N'U'))
DROP TABLE [dbo].[DetallePedidos]
GO
/****** Object:  View [dbo].[vw_LoginUser]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_LoginUser]
GO
/****** Object:  Table [dbo].[SeguridadUsuarios]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SeguridadUsuarios]') AND type in (N'U'))
DROP TABLE [dbo].[SeguridadUsuarios]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  View [dbo].[vw_DetallesProducto]    Script Date: 05/03/2026 22:02:52 ******/
DROP VIEW [dbo].[vw_DetallesProducto]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Productos]') AND type in (N'U'))
DROP TABLE [dbo].[Productos]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 05/03/2026 22:02:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marcas]') AND type in (N'U'))
DROP TABLE [dbo].[Marcas]
GO
USE [master]
GO
/****** Object:  Database [ProyectoTiendaInstrumentos]    Script Date: 05/03/2026 22:02:52 ******/
DROP DATABASE [ProyectoTiendaInstrumentos]
GO
/****** Object:  Database [ProyectoTiendaInstrumentos]    Script Date: 05/03/2026 22:02:52 ******/
CREATE DATABASE [ProyectoTiendaInstrumentos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoTiendaInstrumentos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProyectoTiendaInstrumentos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoTiendaInstrumentos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProyectoTiendaInstrumentos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoTiendaInstrumentos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoTiendaInstrumentos]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[IdMarca] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Logo] [nvarchar](500) NOT NULL,
	[Puntuacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] NOT NULL,
	[IdSubtipo] [int] NULL,
	[IdMarca] [int] NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NULL,
	[Puntuacion] [int] NOT NULL,
	[Imagen] [nvarchar](255) NULL,
	[FechaCreacion] [datetime] NULL,
	[Ventas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DetallesProducto]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_DetallesProducto] AS
    SELECT 
        p.IdProducto,
        p.Modelo AS Modelo,
        p.Descripcion, 
        p.Imagen,
        p.IdSubtipo,
        p.Precio,
        p.Stock,
        p.Ventas,
        p.Puntuacion as PuntuacionProducto, 
        m.IdMarca,
        m.Nombre as NombreMarca,
        m.Logo as LogoMarca,
        m.Puntuacion as PuntuacionMarca
    FROM Productos p
    INNER JOIN Marcas m ON m.IdMarca = p.IdMarca
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] NOT NULL,
	[RolId] [int] NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordFake] [nvarchar](30) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Telefono] [nvarchar](12) NULL,
	[Imagen] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguridadUsuarios]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadUsuarios](
	[IdUsuario] [int] NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LoginUser]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LoginUser] AS
SELECT 
    u.IdUsuario, u.Email, 
    su.Password, su.Salt
FROM Usuarios u 
join SeguridadUsuarios su on u.IdUsuario = su.IdUsuario 
GO
/****** Object:  Table [dbo].[DetallePedidos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedidos](
	[IdDetallePedido] [int] NOT NULL,
	[IdPedido] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
	[FechaEntrega] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductosPedidos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductosPedidos] AS
SELECT 
    ped.IdPedido,
    dp.IdProducto,
    prod.Modelo,
    m.Nombre AS Marca,
    prod.Imagen,
    dp.Cantidad,
    dp.PrecioUnitario,
    (dp.Cantidad * dp.PrecioUnitario) AS SubtotalLinea
FROM Pedidos ped
INNER JOIN DetallePedidos dp ON ped.IdPedido = dp.IdPedido
INNER JOIN Productos prod ON dp.IdProducto = prod.IdProducto
INNER JOIN Marcas m ON prod.IdMarca = m.IdMarca;
GO
/****** Object:  Table [dbo].[Valoraciones]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valoraciones](
	[Id] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[IdUsuario] [int] NULL,
	[Puntuacion] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ValoracionesProducto]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_ValoracionesProducto] AS
    SELECT 
        v.IdProducto,
        v.Puntuacion,
        v.Comentario,
        v.FechaCreacion,
        u.Nombre as NombreUsuario,
        u.Imagen as ImagenUsuario
    FROM Valoraciones v
    join Usuarios u on v.IdUsuario = u.IdUsuario
GO
/****** Object:  Table [dbo].[Familias]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familias](
	[IdFamilia] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ImagenBanner] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtipos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtipos](
	[IdSubtipo] [int] NOT NULL,
	[IdTipo] [int] NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSubtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[IdTipo] [int] NOT NULL,
	[IdFamilia] [int] NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CatalogoProductos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CatalogoProductos] AS
SELECT 
    p.IdProducto,
    p.Modelo AS Modelo,
    m.Nombre AS Marca,
    p.Precio,
    p.Stock,
    p.Puntuacion AS Estrellas,
    s.Nombre AS Subtipo,
    s.IdSubtipo as IdSubtipo,
    t.Nombre AS Tipo,
    f.Nombre AS Familia,
    p.Imagen AS ImagenPrincipal
FROM Productos p
INNER JOIN Marcas m ON p.IdMarca = m.IdMarca
INNER JOIN Subtipos s ON p.IdSubtipo = s.IdSubtipo
INNER JOIN Tipos t ON s.IdTipo = t.IdTipo
INNER JOIN Familias f ON t.IdFamilia = f.IdFamilia;
GO
/****** Object:  View [dbo].[vw_HistorialPedidos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_HistorialPedidos] AS
SELECT 
    ped.IdPedido,
    ped.FechaCreacion,
    ped.FechaEntrega,
    ped.Estado,
    u.IdUsuario,
    prod.Modelo,
    m.Nombre AS Marca,
    dp.Cantidad,
    dp.PrecioUnitario,
    (dp.Cantidad * dp.PrecioUnitario) AS SubtotalLinea,
    ped.PrecioTotal AS TotalPedido
FROM Pedidos ped
INNER JOIN Usuarios u ON ped.IdUsuario = u.IdUsuario
INNER JOIN DetallePedidos dp ON ped.IdPedido = dp.IdPedido
INNER JOIN Productos prod ON dp.IdProducto = prod.IdProducto
INNER JOIN Marcas m ON prod.IdMarca = m.IdMarca;
GO
/****** Object:  Table [dbo].[Especificaciones]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especificaciones](
	[IdEspecificacion] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[UnidadMedida] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValoresEspecificaciones]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValoresEspecificaciones](
	[Id] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[IdEspecificacion] [int] NULL,
	[Valor] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FichaTecnicaProductos]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FichaTecnicaProductos] AS
SELECT 
    p.IdProducto,
    p.Modelo AS Producto,
    e.Nombre AS Caracteristica,
    ve.Valor,
    ISNULL(e.UnidadMedida, '') AS Unidad -- ISNULL evita que salga la palabra NULL si no hay unidad
FROM ValoresEspecificaciones ve
INNER JOIN Productos p ON ve.IdProducto = p.IdProducto
INNER JOIN Especificaciones e ON ve.IdEspecificacion = e.IdEspecificacion;
GO
/****** Object:  View [dbo].[vw_EspecificacionesProducto]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EspecificacionesProducto] AS
SELECT 
    p.IdProducto,
    p.Modelo AS NombreProducto,
    e.Nombre AS Especificacion,
    e.IdEspecificacion as IdEspecificacion,
    ve.Valor,
    ISNULL(e.UnidadMedida, '') AS UnidadMedida
FROM Productos p
INNER JOIN ValoresEspecificaciones ve ON p.IdProducto = ve.IdProducto
INNER JOIN Especificaciones e ON ve.IdEspecificacion = e.IdEspecificacion;
GO
/****** Object:  Table [dbo].[CategoriaFiltros]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaFiltros](
	[IdSubtipo] [int] NOT NULL,
	[IdEspecificacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSubtipo] ASC,
	[IdEspecificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoImagenes]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoImagenes](
	[IdProductoImagen] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[Imagen] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProductoImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05/03/2026 22:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoriaFiltros] ([IdSubtipo], [IdEspecificacion]) VALUES (1, 1)
GO
INSERT [dbo].[CategoriaFiltros] ([IdSubtipo], [IdEspecificacion]) VALUES (1, 2)
GO
INSERT [dbo].[CategoriaFiltros] ([IdSubtipo], [IdEspecificacion]) VALUES (3, 3)
GO
INSERT [dbo].[DetallePedidos] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 1, CAST(799.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[DetallePedidos] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 2, 1, CAST(149.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[DetallePedidos] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 3, 1, CAST(2499.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Especificaciones] ([IdEspecificacion], [Nombre], [UnidadMedida]) VALUES (1, N'Número de trastes', N'ud')
GO
INSERT [dbo].[Especificaciones] ([IdEspecificacion], [Nombre], [UnidadMedida]) VALUES (2, N'Configuración de pastillas', NULL)
GO
INSERT [dbo].[Especificaciones] ([IdEspecificacion], [Nombre], [UnidadMedida]) VALUES (3, N'Material del casco', NULL)
GO
INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [ImagenBanner]) VALUES (1, N'Cuerda', N'banner_cuerda.jpg')
GO
INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [ImagenBanner]) VALUES (2, N'Viento', N'banner_viento.jpg')
GO
INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [ImagenBanner]) VALUES (3, N'Percusión', N'banner_perfusion.jpg')
GO
INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Logo], [Puntuacion]) VALUES (1, N'Fender', N'logo_fender.png', 5)
GO
INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Logo], [Puntuacion]) VALUES (2, N'Yamaha', N'logo_yamaha.png', 4)
GO
INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Logo], [Puntuacion]) VALUES (3, N'Gibson', N'logo_gibson.png', 5)
GO
INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [FechaCreacion], [Estado], [PrecioTotal], [FechaEntrega]) VALUES (1, 2, CAST(N'2026-02-26T09:25:00.573' AS DateTime), N'pagado', CAST(799.99 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [FechaCreacion], [Estado], [PrecioTotal], [FechaEntrega]) VALUES (2, 3, CAST(N'2026-02-26T09:25:00.573' AS DateTime), N'enviado', CAST(149.00 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [FechaCreacion], [Estado], [PrecioTotal], [FechaEntrega]) VALUES (3, 4, CAST(N'2026-02-26T09:25:00.573' AS DateTime), N'pendiente', CAST(2499.00 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[ProductoImagenes] ([IdProductoImagen], [IdProducto], [Imagen]) VALUES (1, 1, N'strat_frente.jpg')
GO
INSERT [dbo].[ProductoImagenes] ([IdProductoImagen], [IdProducto], [Imagen]) VALUES (2, 1, N'strat_mastil.jpg')
GO
INSERT [dbo].[ProductoImagenes] ([IdProductoImagen], [IdProducto], [Imagen]) VALUES (3, 2, N'c40_frente.jpg')
GO
INSERT [dbo].[Productos] ([IdProducto], [IdSubtipo], [IdMarca], [Modelo], [Descripcion], [Precio], [Stock], [Puntuacion], [Imagen], [FechaCreacion], [Ventas]) VALUES (1, 1, 1, N'Stratocaster Player', N'Clásica guitarra eléctrica', CAST(799.99 AS Decimal(10, 2)), 3, 5, N'strat.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime), 7)
GO
INSERT [dbo].[Productos] ([IdProducto], [IdSubtipo], [IdMarca], [Modelo], [Descripcion], [Precio], [Stock], [Puntuacion], [Imagen], [FechaCreacion], [Ventas]) VALUES (2, 2, 2, N'C40 II', N'Ideal para principiantes', CAST(149.00 AS Decimal(10, 2)), 25, 4, N'c40.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime), 0)
GO
INSERT [dbo].[Productos] ([IdProducto], [IdSubtipo], [IdMarca], [Modelo], [Descripcion], [Precio], [Stock], [Puntuacion], [Imagen], [FechaCreacion], [Ventas]) VALUES (3, 1, 3, N'Les Paul Standard', N'Sonido potente y pesado', CAST(2499.00 AS Decimal(10, 2)), 2, 5, N'lespaul.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime), 1)
GO
INSERT [dbo].[Roles] ([Id], [NombreRol]) VALUES (1, N'Administrador')
GO
INSERT [dbo].[Roles] ([Id], [NombreRol]) VALUES (2, N'Cliente')
GO
INSERT [dbo].[SeguridadUsuarios] ([IdUsuario], [Password], [Salt]) VALUES (1, 0x0123ABCD, N'salt_admin')
GO
INSERT [dbo].[SeguridadUsuarios] ([IdUsuario], [Password], [Salt]) VALUES (2, 0x11223344, N'salt_adrian')
GO
INSERT [dbo].[SeguridadUsuarios] ([IdUsuario], [Password], [Salt]) VALUES (3, 0x55667788, N'salt_marcos')
GO
INSERT [dbo].[Subtipos] ([IdSubtipo], [IdTipo], [Nombre]) VALUES (1, 1, N'Guitarra Eléctrica')
GO
INSERT [dbo].[Subtipos] ([IdSubtipo], [IdTipo], [Nombre]) VALUES (2, 1, N'Guitarra Acústica')
GO
INSERT [dbo].[Subtipos] ([IdSubtipo], [IdTipo], [Nombre]) VALUES (3, 3, N'Set de Batería Standard')
GO
INSERT [dbo].[Tipos] ([IdTipo], [IdFamilia], [Nombre]) VALUES (1, 1, N'Guitarra')
GO
INSERT [dbo].[Tipos] ([IdTipo], [IdFamilia], [Nombre]) VALUES (2, 1, N'Bajo')
GO
INSERT [dbo].[Tipos] ([IdTipo], [IdFamilia], [Nombre]) VALUES (3, 3, N'Batería Acústica')
GO
INSERT [dbo].[Usuarios] ([IdUsuario], [RolId], [Nombre], [Email], [PasswordFake], [Direccion], [Telefono], [Imagen], [FechaRegistro]) VALUES (1, 1, N'Pablo G', N'pablo@admin.com', N'12345', N'Calle Falsa 123', N'555-1001', N'admin.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime))
GO
INSERT [dbo].[Usuarios] ([IdUsuario], [RolId], [Nombre], [Email], [PasswordFake], [Direccion], [Telefono], [Imagen], [FechaRegistro]) VALUES (2, 2, N'Adrian Jacek', N'adrian@gmail.com', N'12345', N'Av. Siempre Viva 742', N'555-2002', N'adrian.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime))
GO
INSERT [dbo].[Usuarios] ([IdUsuario], [RolId], [Nombre], [Email], [PasswordFake], [Direccion], [Telefono], [Imagen], [FechaRegistro]) VALUES (3, 2, N'Marcos Pedroche', N'marcos@hotmail.com', N'12345', N'Plaza Mayor 1', N'555-3003', N'marcos.jpg', CAST(N'2026-02-26T09:25:00.570' AS DateTime))
GO
INSERT [dbo].[Valoraciones] ([Id], [IdProducto], [IdUsuario], [Puntuacion], [Comentario], [FechaCreacion]) VALUES (1, 1, 2, 5, N'Suena increíble, muy cómoda.', CAST(N'2026-02-26T09:25:00.573' AS DateTime))
GO
INSERT [dbo].[Valoraciones] ([Id], [IdProducto], [IdUsuario], [Puntuacion], [Comentario], [FechaCreacion]) VALUES (2, 2, 3, 4, N'Buena relación calidad-precio.', CAST(N'2026-02-26T09:25:00.573' AS DateTime))
GO
INSERT [dbo].[Valoraciones] ([Id], [IdProducto], [IdUsuario], [Puntuacion], [Comentario], [FechaCreacion]) VALUES (3, 3, 4, 5, N'El sueño de mi vida cumplido.', CAST(N'2026-02-26T09:25:00.573' AS DateTime))
GO
INSERT [dbo].[ValoresEspecificaciones] ([Id], [IdProducto], [IdEspecificacion], [Valor]) VALUES (1, 1, 1, N'22')
GO
INSERT [dbo].[ValoresEspecificaciones] ([Id], [IdProducto], [IdEspecificacion], [Valor]) VALUES (2, 1, 2, N'SSS')
GO
INSERT [dbo].[ValoresEspecificaciones] ([Id], [IdProducto], [IdEspecificacion], [Valor]) VALUES (3, 3, 1, N'22')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Familias__75E3EFCF4FE95BCF]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Familias] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Familias__75E3EFCFBC0E15F8]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Familias] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D10534249EA49E]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D1053471DACED9]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Usuario_Resena]    Script Date: 05/03/2026 22:02:52 ******/
ALTER TABLE [dbo].[Valoraciones] ADD  CONSTRAINT [UQ_Usuario_Resena] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Ventas]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Valoraciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CategoriaFiltros]  WITH CHECK ADD FOREIGN KEY([IdEspecificacion])
REFERENCES [dbo].[Especificaciones] ([IdEspecificacion])
GO
ALTER TABLE [dbo].[CategoriaFiltros]  WITH CHECK ADD FOREIGN KEY([IdEspecificacion])
REFERENCES [dbo].[Especificaciones] ([IdEspecificacion])
GO
ALTER TABLE [dbo].[CategoriaFiltros]  WITH CHECK ADD FOREIGN KEY([IdSubtipo])
REFERENCES [dbo].[Subtipos] ([IdSubtipo])
GO
ALTER TABLE [dbo].[CategoriaFiltros]  WITH CHECK ADD FOREIGN KEY([IdSubtipo])
REFERENCES [dbo].[Subtipos] ([IdSubtipo])
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ProductoImagenes]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoImagenes]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([IdMarca])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([IdMarca])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdSubtipo])
REFERENCES [dbo].[Subtipos] ([IdSubtipo])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdSubtipo])
REFERENCES [dbo].[Subtipos] ([IdSubtipo])
GO
ALTER TABLE [dbo].[SeguridadUsuarios]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[SeguridadUsuarios]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Subtipos]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Tipos] ([IdTipo])
GO
ALTER TABLE [dbo].[Subtipos]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Tipos] ([IdTipo])
GO
ALTER TABLE [dbo].[Tipos]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familias] ([IdFamilia])
GO
ALTER TABLE [dbo].[Tipos]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familias] ([IdFamilia])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ValoresEspecificaciones]  WITH CHECK ADD FOREIGN KEY([IdEspecificacion])
REFERENCES [dbo].[Especificaciones] ([IdEspecificacion])
GO
ALTER TABLE [dbo].[ValoresEspecificaciones]  WITH CHECK ADD FOREIGN KEY([IdEspecificacion])
REFERENCES [dbo].[Especificaciones] ([IdEspecificacion])
GO
ALTER TABLE [dbo].[ValoresEspecificaciones]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[ValoresEspecificaciones]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD  CONSTRAINT [CK_DetallePedidos_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallePedidos] CHECK CONSTRAINT [CK_DetallePedidos_Cantidad]
GO
ALTER TABLE [dbo].[DetallePedidos]  WITH CHECK ADD  CONSTRAINT [CK_DetallePedidos_PrecioUnitario] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetallePedidos] CHECK CONSTRAINT [CK_DetallePedidos_PrecioUnitario]
GO
ALTER TABLE [dbo].[Marcas]  WITH CHECK ADD  CONSTRAINT [CK_Marcas_Puntuacion] CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[Marcas] CHECK CONSTRAINT [CK_Marcas_Puntuacion]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Estado] CHECK  (([Estado]='cancelado' OR [Estado]='entregado' OR [Estado]='enviado' OR [Estado]='procesando' OR [Estado]='pagado' OR [Estado]='pendiente'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Estado]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_PrecioTotal] CHECK  (([PrecioTotal]>=(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_PrecioTotal]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Puntuacion] CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Puntuacion]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Email] CHECK  (([Email] like '%_@__%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Email]
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD  CONSTRAINT [CK_Valoraciones_Puntuacion] CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[Valoraciones] CHECK CONSTRAINT [CK_Valoraciones_Puntuacion]
GO
USE [master]
GO
