@model Usuario
@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="login-card">
        <h1>Inicio de sesión</h1>
        
        <form method="post">
        
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" name="Email" class="form-control" />
            </div>
            
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
            </div>
        </form>

        <div class="register-link">
            <p>
                ¿No tienes una cuenta? 
                <a asp-controller="Cuenta" asp-action="Register">Regístrate aquí</a>
            </p>
        </div>

        @if (ViewBag.MENSAJE != null)
        {
            <div class="error-message">
                @ViewBag.MENSAJE
            </div>
        }
    </div>
</div>